body { 
	color: #222;
	text-shadow: 0px 1px 0px #fff;
	background-color: #eee;
}

body#fluid {
	background-color: #ddd;
}

body, p, ol, ul, td {
	/*
  font-family: verdana, arial, helvetica, sans-serif;
*/
  font-family: Georgia, Times, serif;
  font-size:   14px;
  line-height: 28px;
  margin: 0px;
}

#content, .content {
	width: 840px;
	margin: 20px auto;
	padding: 20px;
}

#fluid_content {
	width: 100%;
	margin: 0 auto;
}

#fluid_content h1 {
	font-size: 28px;
	text-align: center;
	height: 48px;
}

#header {
	width: 100%;
	background-color: #333;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 5px 0px;
}

#header, #header a {
	color: #fff;
	text-shadow: none;
}

#header_menu {
	float: right;
}

#main_menu {
	float: left;
	margin-left: 200px;
}

#logo {
	font-size: 24px;
	float:left;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #333; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
  text-shadow: none;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.clear {
	clear: both;
}

.registration_form div, .login_form div {
	margin: 20px 0;
}

.twitt {
	margin: 10px 0;
}

#home_info {
	padding-left: 40px;
}

#home_info h1, #home_info p {
	font-family: Georgia, Times, serif;
  line-height: 58px;
}

#home_info h1 {
	font-size: 38px;
}

#home_info p {
	font-size: 20px;
}

span.app_name {
	background-color: #ddd;
	padding: 5px;
}

span.author {
	font-size: 20px;
	margin-top: 68px;
	float: left;
}

p.notice {
	color: green;
	font-size: 18px;
	text-align: center;
}

p.error {
	color: red;
	font-size: 18px;
	text-align: center;
}

div#icon {
	float: right;
}

div#icon a img {
	border: none;
}

.border {
	border: 2px solid #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 5px 5px 5px #666;
	-moz-box-shadow: 5px 5px 5px #666;
	box-shadow: 5px 5px 5px #666;
}

.candidate {
	width: 11%;
	float: left;
	border-right: 2px solid #fff;
	padding: 5px;
}

.candidate h2 {
	font-size: 18px;
	text-align: center;
	height: 60px;
}

.candidate img {
  padding-left: 37%;
}

.candidate form input {
	float: right;
}

.last {
	border-right: none;
}

.twitt {
	padding: 10px;
}
.twitt p {
	font-size: 12px;
	line-height: 22px;
}

.twitt a {
	color: #555;
}

p.time {
	text-align: right;
	margin-top: 10px;
	color: #666;
}

#fluid_footer {
	width: 100%;
	background-color: #333;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 5px 0px;
}

#fluid_footer, #fluid_footer a {
	color: #fff;
	text-shadow: none;
}

#fluid_footer .content {
	padding: 0px;
}

#footer_icon img {
	border: none;
	float: right;
}

.left { float: left; }
.right { float: right; }
.center { text-align: center; }

span#info { margin-left: 45px; }

.grey { background-color: #ccc; }

textarea { width: 100%; }

form#new_rule textarea, form#edit_rule textarea { height: 75px;}