body { 
	color: #222;
	text-shadow: 0px 1px 0px #fff;
	background-color: #6699cc; 
}

body#fluid {
	background-color: #ddd;
}

body, p, ol, ul, td {
  font-family: Helvetica, Arial, sans-serif;
  font-size:   15px;
  line-height: 28px;
  margin: 0px;
}

h1, h2, h3 {font-family: Georgia, Times, serif;}
h2.name { 
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

#content, .content {
	width: 900px;
	margin: 20px auto;
	padding: 20px;
}

.regular_width {
  width: 940px;
  margin: 0 auto;
}

hr {color: #fff;}

#fluid_content {
	width: 100%;
	margin: 0 auto;
}

#fluid_content h1 {
	font-size: 28px;
	text-align: center;
	height: 48px;
}

#header, #footer {
	width: 100%;
	background-color: #333;
	background-color: #1f4974;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 5px 0px;
}

#footer span {
  margin-left: 10px;
}

#footer span, #footer a { 
  color: #fff;
  text-shadow: none;
}

#header, #header a {
	color: #fff;
	text-shadow: none;
}

#header_menu {}

#main_menu {
  font-family: Georgia, Times, serif;
	padding-top: 32px;
	font-size: 30px;
	float: right;
}

#main_menu a { margin-right: 70px;}

#admin_menu { 
  float:right;
  margin-right: 10px;
  padding-right: 5px;
}

#admin_menu a { text-decoration: none;}

#logo { float:left; }
#logo img { float:left; }
#logo h1 { 
  float: left; 
  font-size: 48px;
  padding-top: 25px;
}

#logo h1 a {text-decoration: none;}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

h2 {font-size: 20px;}

div#banner h2 {
  margin:0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}

a { 
  color: #18344F; 
  text-shadow: none;
}

.fieldWithErrors {
  display: inline;
  margin: 0 !important;
  border: 1px solid red;
}

#errorExplanation {
  border: 1px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  text-align: center;
}

#errorExplanation h2 {
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  text-shadow: none;
  font-size: 15px;
  
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
  font-size: 15px;
  
}

#errorExplanation ul li {
  list-style: square;
  font-size: 15px;
}

.clear {
	clear: both;
}

.registration_form div, .login_form div {
  font-size: 20px;
	margin: 20px 0 10px 150px;
	font-family: Helvetica, Arial, sans-serif;
}

.registration_form div input, .login_form div input { 
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.registration_form div label, .login_form div label {
  display: block;
  float: left;
  width: 150px;
}

.twitt {
	margin: 10px 0;
}

#home_info {
	padding-left: 40px;
}

#home_info h1, #home_info p {
	font-family: Helvetica, Arial, sans-serif;
  line-height: 58px;
}

#home_info h1 {
	font-size: 38px;
}

#home_info p {
	font-size: 20px;
}

span.app_name {
	background-color: #ddd;
	padding: 5px;
}

span.author {
	font-size: 20px;
	margin-top: 68px;
	float: left;
}

p.notice, p.error {
	font-family: Georgia, Times, serif;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	background-color: #fff;
	padding: 5px;
}

p.notice { color: #33cc66; border: 1px solid #33cc66;}
p.error { color: #cc3333; border: 1px solid #cc3333;}

div#icon {
	float: right;
}

div#icon a img {
	border: none;
}

.border {
	border: 2px solid #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.candidate {
	width: 11%;
	float: left;
	border-right: 2px solid #fff;
	padding: 5px;
}

.candidate h2 {
	font-size: 18px;
	text-align: center;
	height: 60px;
}

.candidate img {
  padding-left: 37%;
}

.candidate form input {
	float: right;
}

.last {
	border-right: none;
}

.twitt {
	padding: 10px;
}
.twitt p {
	font-size: 12px;
	line-height: 22px;
}

.twitt a {
	color: #555;
}

p.time {
	text-align: right;
	margin-top: 10px;
	color: #666;
}

#fluid_footer {
	width: 100%;
	background-color: #333;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 5px 0px;
}

#fluid_footer, #fluid_footer a {
	color: #fff;
	text-shadow: none;
}

#fluid_footer .content {
	padding: 0px;
}

#footer_icon img {
	border: none;
	float: left;
}

#footer_info { 
  font-size: 14px;
  float: left;
  padding-top: 20px;
}

div.left { float: left; }
div.right { float: right; }
.center { text-align: center; }

p.left, h2.left { text-align: left; }
p.right, h2.right { text-align: right; }

span#info { margin-left: 45px; }

.grey { 
  background-color: #ccccff;	
}

textarea { width: 100%; }

form#new_rule textarea, form#edit_rule textarea { height: 75px;}

form input#rule_word {width: 100%;}

input#url { width: 450px; }

div.avatar { margin-right: 10px; width: 50px; height: 50px;}
div.avatar img { border: 1px solid #fff; }

.twitt_info, .twitt_info a { font-size: 13px; color: #446677;}

div.twitt_body { width: 840px; }
div.twitt_body p, div.twitt_body span { line-height: 20px; }
div.pagination { text-align: center; }
div.pagination a, div.pagination span { margin-right: 5px; }

.home_twitts {
  float: left; 
  width: 600px;
}
.home_twitts .twitt_body { width: 540px; }

.my_twitt .twitt_body { width: 100%; }

.top_users {
  float:left;
  width: 280px;
  margin-left: 20px;
}

.user_info {
  float: left;
  width: 220px;
}

.user_info p { 
  font-size: 12px; 
  line-height: 16px;
}

.user .info { font-size: 12px;}

.users { width: 600px;}

.search form input {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.search form input[type='text'] { width: 200px;}

div.info {
  width: 595px;
  background-color: #DFDFFF;
  padding-top: 5px;
  padding-left: 5px;
}




