body { 
	color: #222;
	text-shadow: 0px 1px 0px #fff;
	background-color: #ccc;
}

body, p, ol, ul, td {
	/*
  font-family: verdana, arial, helvetica, sans-serif;
*/
  font-family: Georgia, Times, serif;
  font-size:   14px;
  line-height: 28px;
  margin: 0px;
}

#content, .content {
	width: 880px;
	margin: 20px auto;
}

#header {
	width: 100%;
	background-color: #333;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 5px 0px;
}

#header, #header a {
	color: #fff;
	text-shadow: none;
}

#header_menu {
	float: right;
}

#main_menu {
	float: left;
	margin-left: 200px;
}

#logo {
	font-size: 24px;
	float:left;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #333; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.clear {
	clear: both;
}

.registration_form div, .login_form div {
	margin: 20px;
}

.twitt {
	margin: 10px 0;
}

#home_info h1, #home_info p {
	font-family: Georgia, Times, serif;
  line-height: 58px;
}

#home_info h1 {
	font-size: 38px;
}

#home_info p {
	font-size: 20px;
}

span.app_name {
	background-color: #ddd;
	padding: 5px;
}

p.author {
	margin-top: 68px;
}

}