<div id="home_info">
  <h1>Witaj,</h1>
  <p>Aplikacja <span class="app_name">Polski Twitter :: Twitter Po Polsku :: Twittabout</span> jest w trakcie budowy.</p>
  <p>Informacje o postępie prac będą pojawiały się na poniższym koncie na Twitterze:</p>
  <p><%= link_to 'http://twitter.com/TwittaboutCom', 'http://twitter.com/TwittaboutCom' %></p>
  <p class="author"><%= link_to 'Dominik', 'http://twitter.com/domininik' %></p>
</div>  