<div id="info">
  <p>Autorem niniejszego serwisu jest Dominik Fijaś.</p>
  <p>Serwis ten stanowi integralną część pracy magisterskiej
    z Elektronicznego Przetwarzania Informacji<br />
    (kierunek: kulturoznawstwo),
    przygotowanej pod kierunkiem prof. dra hab. Wiesława Lubaszewskiego<br />
    na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.
  </p>
</div>