<div>
	<div class="twitt_body">
    <p><%= twitt.body %></p>
    <p class="twitt_info"><%= twitt.originally_created.strftime("%H:%M %d.%m.%Y") %> przez <%= source(twitt) %></p>
  </div>
  <%= link_to 'Delete', twitt, :confirm => 'Are you sure?', :method => :delete if current_user %>
</div>
<hr />